{
  "importOrder": [
    "^react(.*)",
    "<THIRD_PARTY_MODULES>",
    "@/styles(.*)",
    "@/components(.*)",
    "@/ui(.*)",
    "@/lib(.*)",
    "@/utils(.*)",
    "@/hooks(.*)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
